<!-- INICIO -->
<img
  id="logovistar1"
  src="https://www.hosteriavistaalmar.com/images/hotel/logoVistalmar02.gif"
/>
<div class="page">
  <nav class="page__menu menu">
    <ul class="menu__list r-list">
      <li class="menu__group">
        <a href="/inicio" class="menu__link r-link text-underlined">INICIO</a>
      </li>
      <li class="menu__group">
        <a href="/reservaciones" class="menu__link r-link text-underlined"
          >RESERVACIONES</a
        >
      </li>
      <li class="menu__group">
        <a href="/testimonios" class="menu__link r-link text-underlined"
          >TESTIMONIOS</a
        >
      </li>
      <li class="menu__group">
        <a href="/loggin" class="menu__link r-link text-underlined"
          >INICIAR SESIÓN</a
        >
      </li>
    </ul>
  </nav>
</div>

<div class="slider">
  <ul>
    <li>
      <img
        src="https://www.hosteriavistaalmar.com/images/home/Home-3.jpg"
        alt=""
      />
    </li>
    <li>
      <img
        src="https://www.hosteriavistaalmar.com/images/home/Home-9.jpg"
        alt=""
      />
    </li>
    <li>
      <img
        src="https://www.hosteriavistaalmar.com/images/home/Home-8.jpg"
        alt=""
      />
    </li>
    <li>
      <img
        src="https://www.hosteriavistaalmar.com/images/home/Home-7.jpg"
        alt=""
      />
    </li>
  </ul>
</div>

<body>
  <h1 id="TITLE">DIVIERTETE, RELAJATE, DISFRUTA</h1>
  <h1>Sus vacaciones en Manta, Ecuador. Aseguradas.</h1>
  <!-- contorno del primer info -->
  <div id="pos1">
    <img
      id="img1"
      src="https://imgcy.trivago.com/c_lfill,d_dummy.jpeg,e_sharpen:60,f_auto,h_450,q_auto,w_450/itemimages/22/37/2237418.jpeg"
    />

    <p class="p1">
      Hotel Vistalmar está ubicado directamente frente al mar con una vista
      única de la costa de Manta. El hotel fue construido en un acantilado
      encima de playa Murciélago, contamos con un deck con salas y mesas
      exteriores para lograr descanso y paz. Nuestra piscina bordea la propiedad
      y es el disfrute de los más pequeños del hogar. Estamos ubicados en la
      mejor zona de Manta, a dos cuadras del nuevo Mall del Pacífico y 10
      minutos del aeropuerto. La playa, el malecón, y variados restaurantes
      están a metros de distancia.
    </p>
  </div>

  <footer>
    <div class="container__footer">
      <div class="box__footer">
        <div class="logo">
          <img
            id="logovistar"
            src="https://www.hosteriavistaalmar.com/images/hotel/logoVistalmar02.gif"
            alt="logoVistalmar02"
          />
        </div>
        <div class="terms"></div>
      </div>
      <div class="box__footer">
        <h2>Contactenos</h2>
        <a href="#">Calle M1 y Av. 24, Barrio el Murciélago </a>
        <a href="#">Tel. 05- 262-1671 | +(593) 98 796 6674 - Manta, Ecuador.</a>
        <a href="#"> info@hotelvistalmar.com </a>
        <a href="#">www.vacacionesenmanta.com </a>
      </div>

      <div class="box__footer">
        <h2>Compañia</h2>
        <a href="/testimonios">Testimonios</a>
        <a href="/galería">Galería</a>
        <a href="/reservaciones">Reservaciones</a>
      </div>

      <div class="box__footer">
        <h2>Redes Sociales</h2>
        <a href="https://es-la.facebook.com/HotelVistalmar/">
          <i class="fab fa-facebook-square"></i> Facebook</a
        >
        <a href="https://twitter.com/hotel_vistalmar"
          ><i class="fab fa-twitter-square"></i> Twitter</a
        >
        <a href="https://www.instagram.com/hotel_vistalmar/?hl=es-la" target=""
          ><i class="fab fa-instagram-square"></i> Instagram</a
        >
      </div>
    </div>

    <div class="box__copyright">
      <hr />
      <p>Todos los derechos reservados © 2021 <b>DJD</b></p>
    </div>
  </footer>
</body>


