<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Nuevo Proyecto</title>
  </head>
  <body>
    <!-- INICIO -->
    <img
      id="logovistar1"
      src="https://www.hosteriavistaalmar.com/images/hotel/logoVistalmar02.gif"
    />
    <div class="page">
      <nav class="page__menu menu">
        <ul class="menu__list r-list">
          <li class="menu__group">
            <a href="/inicio" class="menu__link r-link text-underlined"
              >INICIO</a
            >
          </li>
          <li class="menu__group">
            <a href="#0" class="menu__link r-link text-underlined"
              >RESERVACIONES</a
            >
          </li>
          <li class="menu__group">
            <a href="/testimonios" class="menu__link r-link text-underlined"
              >TESTIMONIOS</a
            >
          </li>

          <li class="menu__group">
            <a href="/loggin" class="menu__link r-link text-underlined"
              >INICIAR SESIÓN</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <div class="container">
      <h5><em>Algunos testimonios de nuestros visitantes:</em></h5>
    </div>

    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 100%"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>

    <div class="container">
      <div class="card">
        <div class="card-body">
          <cite
            >ES UN SITIO ENCANTADOR, A PESAR DE ESTAR EN PLENA CIUDAD, LA
            TRANQUILIDAD Y LA PAZ QUE SE VIVE ALLÍ ES INCREIBLE. LA PASAMOS MUY
            BIEN, MUCHAS GRACIAS.</cite
          ><br /><br />
          <footer class="blockquote-footer">
            JOSE MIGUEL GRILLO<cite title="Source Title"></cite>
          </footer>
        </div>
        <div class="card-footer text-muted">10 min ago</div>
      </div>

      <br /><br />

      <div class="card">
        <div class="card-body">
          <cite
            >COMO DICEN EN MI PAÍS “PURA VIDA” ASÍ FUE NUESTRO DISFRUTE EN ESTE
            SITIO TAN ESPECTACULAR…</cite
          ><br /><br />
          <footer class="blockquote-footer">
            ROBERTO HOUG. COSTA RICA<cite title="Source Title"></cite>
          </footer>
        </div>
        <div class="card-footer text-muted">30 min ago</div>
      </div>

      <br /><br />

      <div class="card">
        <div class="card-body">
          <cite
            >EL SITIO MUY LINDO, RECOMIENDO QUE TENGAN SERVICIO DE
            ALMUERZOS.</cite
          ><br /><br />
          <footer class="blockquote-footer">
            ROSITA BAUR<cite title="Source Title"></cite>
          </footer>
        </div>
        <div class="card-footer text-muted">50 min ago</div>
      </div>
      <br /><br />

      <div class="card">
        <div class="card-body">
          <cite>ES HERMOSOOOOOOOO, GRACIAS, SON CHEVERES!!!</cite><br /><br />
          <footer class="blockquote-footer">
            DANY JARAMILLO<cite title="Source Title"></cite>
          </footer>
        </div>
        <div class="card-footer text-muted">1 days ago</div>
      </div>

      <br /><br />

      <div class="card">
        <div class="card-body">
          <cite
            >EL SITIO ES ENCANTADOR, EL TAMAÑO DEL HOTEL IDEAL POR QUE NO TE
            ABRUMAS CON TANTA GETE, LA VISTA ES INCREIBLE Y USTEDES MUY AMABLES.
            FUERON MUY LINDAS VACACIONES DE AÑO NUEVO.</cite
          ><br /><br />
          <footer class="blockquote-footer">
            MA JOSE<cite title="Source Title"></cite>
          </footer>
        </div>
        <div class="card-footer text-muted">1 days ago</div>
      </div>

      <br /><br />

      <div class="card">
        <div class="card-body">
          <cite
            >HOLA!!!!! GRACIAS, LAS PLAYAS DE MANTA SON INCREIBLES, LAS MUJERES
            GUAPISIMAS Y USTEDES MUY GENTILES.</cite
          ><br /><br />
          <footer class="blockquote-footer">
            JOAN COLLAGUAZO<cite title="Source Title"></cite>
          </footer>
        </div>
        <div class="card-footer text-muted">2 days ago</div>
      </div>
    </div>
  </body>
</html>
