<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="loggin.component.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <form (submit)="submit()" [formGroup]="formLogin">
      <!--<form [formGroup]="formLogin" (submit)="send()">-->

      <section class="form-register">
        <h4 align="center">INICIO DE SESION</h4>
        <img
          id="logovistar1"
          src="https://www.hosteriavistaalmar.com/images/hotel/logoVistalmar02.gif"
        />
        <div>
          <label for="nombres">Usuario</label>
          <input
            class="controls"
            type="text"
            id="Usuario"
            formControlName="usuario"
            placeholder="Ingrese su usuario"
          />
        </div>

        <div>
          <label for="password">Contraseña:</label>
          <input
            class="controls"
            type="password"
            id="password"
            formControlName="password"
            placeholder="Ingrese su contraseña"
          />
        </div>

        <!--INPUT BUTTOM-->
        <div class="botons">
          <button>INICIAR SESION</button>
        </div>
      </section>
    </form>
  </body>
</html>

<!-- <div>Validacion: {{ formLogin.valid | json }}</div> -->
