<!-- INICIO -->
<img
  id="logovistar1"
  src="https://www.hosteriavistaalmar.com/images/hotel/logoVistalmar02.gif"
/>
<div class="page">
  <nav class="page__menu menu">
    <ul class="menu__list r-list">
      <li class="menu__group">
        <a href="/inicio" class="menu__link r-link text-underlined">INICIO</a>
      </li>
      <li class="menu__group">
        <a href="#0" class="menu__link r-link text-underlined">RESERVACIONES</a>
      </li>
      <li class="menu__group">
        <a href="/testimonios" class="menu__link r-link text-underlined"
          >TESTIMONIOS</a
        >
      </li>
      <li class="menu__group">
        <a href="/loggin" class="menu__link r-link text-underlined"
          >INICIAR SESIÓN</a
        >
      </li>
    </ul>
  </nav>
</div>

<span id="parrafo"
  >El estilo único de Vistalmar se caracteriza por tener una decoración sobria y
  con muebles hechos en su totalidad por las manos de artesanos de la ciudad de
  Montecriti. Materiales como la caña guadua y la madera predominan en nuestras
  instalaciones. Las habitaciones tienen todas las comodidades necesarias como
  aire acondicionado, refrigeradora, TV Cable, y Wi-Fi.</span
>

<!-- TARJETA HABITACION MATRIMONIAL:::::::::::: -->
<div class="card" style="width: 20rem">
  <img
    src="https://www.hosteriavistaalmar.com/images/hotel/habitaciones2/matrimonial-nuevo-cuerto.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Habitacion Matrimonial</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Incluye 1 cama tamaño Queen o King Terraza, TV Pantalla Plana con TV
      Cable, Baño Privado, Wi-Fi, Aire Acondicionado, Parqueadero Capacidad: 2
      adultos + Niño (Opción para sofá cama)
    </li>
  </ul>
  <div class="card-body">
    <button type="button" class="btn btn-success">RESERVAR</button>
  </div>
</div>

<!-- TARJETA HABITACION DOBLE:::::::::::: -->
<div class="card" style="width: 20rem">
  <img
    src="https://www.hosteriavistaalmar.com/images/hotel/habitaciones2/matrimonial-nuevo-cuerto.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body1">
    <h5 class="card-title">Habitacion Doble</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Incluye 2 camas dobles grandes Terraza, TV Pantalla Plana con TV Cable,
      Baño Privado, Wi-Fi, Aire Acondicionado, Parqueadero Capacidad: 4 Adultos
    </li>
  </ul>
  <div class="card-body">
    <button type="button" class="btn btn-success">RESERVAR</button>
  </div>
</div>

<!-- TARJETA SUITE FAMILIAR:::::::::::: -->
<div class="card" style="width: 20rem">
  <img
    src="https://www.hosteriavistaalmar.com/images/hotel/habitaciones2/matrimonial-nuevo-cuerto.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Suite Familiar</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Incluye 1 habitación individual con cama tamaño Queen. En área separada
      sala, mesa desayuno, Microonda, sala son dos sofá camas. Terraza, 2 TV
      Pantalla Plana con TV Cable, Baño Privado, Wi-Fi, Aire Acondicionado,
      Parqueadero Capacidad: 4 adultos.
    </li>
  </ul>
  <div class="card-body">
    <button type="button" class="btn btn-success">RESERVAR</button>
  </div>
</div>
