<link rel="stylesheet" href="app.component.css" />

<!--<form [formGroup]="formLogin" (submit)="send()">-->
<form (submit)="submit()" [formGroup]="formLogin">

  
  <section class="form-register">
    <h4 align="center">INICIO DE SESION</h4>
    <div>
      <label for="nombres">Usuario</label>
      <input
        class="controls"
        type="text"
        id="identificación"
        formControlName="identificación"
        placeholder="Ingrese su identificación"
      />
    </div>

    <div>
      <label for="password1">Contraseña</label>
      <input
        class="controls"
        type="password"
        id="nombres"
        formControlName="nombres"
        placeholder="Ingrese su contraseña"
      />
    </div>

    <!--INPUT PASSWORD-->
    <div>
      <label for="password2">Contraseña:</label>
      <input
        class="controls"
        type="password"
        id="password"
        formControlName="password"
        placeholder="Ingrese de nuevo su contraseña"
      />
    </div>
    <!--INPUT BUTTOM-->
    <div class="botons">
      <button>INICIAR SESION</button>
    </div>
  </section>
</form>

<div>Validacion: {{ formLogin.valid | json }}</div>
